name: webview_flutter_ohos
description: A Flutter plugin that provides a WebView widget on Ohos.
repository: https://github.com/flutter/packages/tree/main/packages/webview_flutter/webview_flutter_android
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+webview%22
version: 4.7.0

environment:
  sdk: ^3.6.0
  flutter: ">=3.27.0"

flutter:
  plugin:
    implements: webview_flutter
    platforms:
      ohos:
        package: io.flutter.plugins.webviewflutter
        pluginClass: WebViewFlutterPlugin
        dartPluginClass: OhosWebViewPlatform

dependencies:
  flutter:
    sdk: flutter
  webview_flutter_platform_interface: 
      path: ../webview_flutter_platform_interface

dev_dependencies:
  build_runner: ^2.1.4
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4
  pigeon: ^25.3.2
